<div id="start-menu" role="menu">
  <div class="start-banner">Jesús<span>'98</span></div>
  <ul>
    <li data-target="window-about"><img src="{{ '/assets/icons/about.svg' | relative_url }}" alt="">About Me</li>
    <li data-target="window-experience"><img src="{{ '/assets/icons/experience.svg' | relative_url }}" alt="">Experience</li>
    <li data-target="window-skills"><img src="{{ '/assets/icons/skills.svg' | relative_url }}" alt="">Skills</li>
    <li data-target="window-projects"><img src="{{ '/assets/icons/projects.svg' | relative_url }}" alt="">Projects</li>
    <li data-target="window-contact"><img src="{{ '/assets/icons/contact.svg' | relative_url }}" alt="">Contact</li>
    <li class="divider"></li>
    <li data-target="window-mycomputer"><img src="{{ '/assets/icons/mycomputer.svg' | relative_url }}" alt="">My Computer</li>
    <li data-target="window-recyclebin"><img src="{{ '/assets/icons/recyclebin.svg' | relative_url }}" alt="">Recycle Bin</li>
    <li class="divider"></li>
    <li data-action="shutdown"><img src="{{ '/assets/icons/start.svg' | relative_url }}" alt="">Shut Down…</li>
  </ul>
</div>
